parameters:
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyse:
            - src/Lib/EvalMath.php
            - src/Lib/EvalMathStack.php
    bootstrapFiles:
        - config/paths.php
        - config/funcs.php