parameters:
    level: 7
    ignoreErrors:
        - identifier: missingType.iterableValue
    excludePaths:
        analyse:
            - src/Lib/EvalMath.php
            - src/Lib/EvalMathStack.php
    bootstrapFiles:
        - config/paths.php
        - config/funcs.php