<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/bootstrap.php"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  displayDetailsOnTestsThatTriggerDeprecations="true">
  <coverage/>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <!-- Add any additional test suites you want to run here -->
  <testsuites>
    <testsuite name="app">
      <directory>tests/</directory>
    </testsuite>
    <!-- Add plugin test suites here. -->
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
