* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}
.serif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.big {
    font-size: 120% !important;
}
.noborder {
    border: none !important;
}
.floatright {
    display: block;
    width: auto;
    float: right;
}
.green {
    color: rgb(0, 198, 0)
}
.red {
    color: red;
}
span.checkbox {
    display: inline-block;
    clear: none;
    width: 13px;
    height: 15px;
    padding-left: 2px;
    border: solid 1px black;
}

table {
    border-collapse: collapse;
    
    thead {
        td, th {
            text-align: left;
            padding: 10px;
            background-color: #f0f0f0;
        }
    }
    tbody {
        th {
            text-align: left;
            font-weight: normal;
            padding: 10px;
            background-color: #f0f0f0;
        }
        td, th {
            padding: 5px;
            &.w-5 {
                width: 5%;
            }
            &.w-6 {
                width: 6%;
            }
            &.w-7 {
                width: 7%;
            }
            &.w-10 {
                width: 10%;
            }
            &.w-20 {
                width: 20%;
            }
            &.w-30 {
                width: 30%;
            }
            &.w-35 {
                width: 35%;
            }
            &.w-40 {
                width: 40%;
            }
            &.w-45 {
                width: 45%;
            }
            &.w-50 {
                width: 50%;
            }
            &.w-55 {
                width: 55%;
            }
            &.w-60 {
                width: 60%;
            }
            &.w-70 {
                width: 70%;
            }
            &.w-70 {
                width: 80%;
            }
            &.border {
                border: solid 1px black;
            }
        }
    }
}